<!DOCTYPE html>
<html>
<head>
    <title>{{ title }}</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap">
</head>
<body>
    <div class="container">
        <h1 style="font-family: 'Pacifico', cursive; color: #2ecc71; margin-top: 100px; text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);">{{ title }}</h1>
        <h2 style="font-family: 'Pacifico', cursive; color: #2ecc71;">{{ liste_name }}</h2>
        <p class="styled-paragraph">On crée la playlist de TA soirée !</p>
        <div class="button-container">
            {% for button_name in button_names %}
                <form action="/show_list" method="post">
                    <button type="submit" class="styled-button" name="button_name" value="{{ button_name }}">{{ button_name }}</button>
                </form>
            {% endfor %}
        </div>
        <div id="list-container">
            {% if selected_list %}
                <p class="styled-paragraph">Liste :</p>
                <ul class="playlist"> <!-- Utilisation de la classe "playlist" pour les listes -->
                    {% for item, youtube_link in selected_list %}
                        <li>
                            <a href="{{ youtube_link }}" target="_blank" class="music-style-link">{{ item }}</a>
                        </li>
                    {% endfor %}
                </ul>                
            {% endif %}
        </div>
    </div>
</body>
</html>
