/* static/style.css */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    text-align: center;
}

h1 {
    color: #2ecc71; /* Vert */
    margin-top: 100px;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2); /* Ombre légère */
}

.container {
    background-color: #fff;
    padding: 20px;
    margin-top: 20px;
}

.button-container {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.styled-button {
    padding: 10px 20px;
    margin: 0 10px;
    background-color: #2ecc71; /* Couleur verte */
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
}

.styled-button:hover {
    background-color: #27ae60; /* Couleur verte plus foncée au survol */
}

.styled-paragraph {
    font-family: 'Raleway', sans-serif;
    color: #444; /* Légèrement plus clair que le gris */
    margin: 20px 0;
    text-align: center;
}

/* Style spécifique pour la playlist de musique */
.playlist {
    list-style: none;
    padding: 0;
}

.playlist li {
    margin: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

/* Style pour les liens vers les styles de musique */
.music-style-link {
    color: #2ecc71;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s;
}

.music-style-link:hover {
    color: #27ae60;
}

